## 설치 방식 
https://blog.jetbrains.com/kotlin/2020/05/kotlin-kernel-for-jupyter-notebook-v0-8/

## 코틀린 데이터 분석
https://github.com/Kotlin/kotlin-jupyter

In [15]:
%use dataframe

In [17]:
val df = DataFrame.read("./titanic/train.csv")

In [19]:
df.head()

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.250000,null,S
2,1,1,"Cumings, Mrs. John Bradley (Florence ...",female,38.000000,1,0,PC 17599,71.283300,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.925000,null,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily Ma...",female,35.000000,1,0,113803,53.100000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.050000,null,S

In [24]:
df.filter { it["Survived"] as Int > 0 }.groupBy("Sex").max("Age")

Sex,Age
female,63.000000
male,80.000000

In [28]:
df.columnNames()

[PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]

[Data Frame [891 x 1]

|PassengerId:Int |
|----------------|
|1               |
|2               |
|3               |
|4               |
|5               |
|6               |
|7               |
|8               |
|9               |
|10              |
|11              |
|12              |
|13              |
|14              |
|15              |
|16              |
|17              |
|18              |
|19              |
|20              |
...
, Data Frame [891 x 1]

|Survived:Int |
|-------------|
|0            |
|1            |
|1            |
|1            |
|0            |
|0            |
|0            |
|0            |
|1            |
|1            |
|1            |
|1            |
|0            |
|0            |
|0            |
|1            |
|0            |
|1            |
|0            |
|1            |
...
, Data Frame [891 x 1]

|Pclass:Int |
|-----------|
|3          |
|1          |
|3          |
|1          |
|3          |
|3          |
|1          |
|3          |
|3          |
|2          |
|3          |
|1          |
|3          |
|3          |
|3          |
|2          |
|3          |
|2          |
|3          |
|3          |
...
, Data Frame [891 x 1]

|Name:String                              |
|-----------------------------------------|
|Braund, Mr. Owen Harris                  |
|Cumings, Mrs. John Bradley (Florence ... |
|Heikkinen, Miss. Laina                   |
|Futrelle, Mrs. Jacques Heath (Lily Ma... |
|Allen, Mr. William Henry                 |
|Moran, Mr. James                         |
|McCarthy, Mr. Timothy J                  |
|Palsson, Master. Gosta Leonard           |
|Johnson, Mrs. Oscar W (Elisabeth Vilh... |
|Nasser, Mrs. Nicholas (Adele Achem)      |
|Sandstrom, Miss. Marguerite Rut          |
|Bonnell, Miss. Elizabeth                 |
|Saundercock, Mr. William Henry           |
|Andersson, Mr. Anders Johan              |
|Vestrom, Miss. Hulda Amanda Adolfina     |
|Hewlett, Mrs. (Mary D Kingcome)          |
|Rice, Master. Eugene                     |
|Williams, Mr. Charles Eugene             |
|Vander Planke, Mrs. Julius (Emelia Ma... |
|Masselmani, Mrs. Fatima                  |
...
, Data Frame [891 x 1]

|Sex:String |
|-----------|
|male       |
|female     |
|female     |
|female     |
|male       |
|male       |
|male       |
|male       |
|female     |
|female     |
|female     |
|female     |
|male       |
|male       |
|female     |
|female     |
|male       |
|male       |
|female     |
|female     |
...
, Data Frame [891 x 1]

|Age:Double? |
|------------|
|22.000000   |
|38.000000   |
|26.000000   |
|35.000000   |
|35.000000   |
|null        |
|54.000000   |
|2.000000    |
|27.000000   |
|14.000000   |
|4.000000    |
|58.000000   |
|20.000000   |
|39.000000   |
|14.000000   |
|55.000000   |
|2.000000    |
|null        |
|31.000000   |
|null        |
...
, Data Frame [891 x 1]

|SibSp:Int |
|----------|
|1         |
|1         |
|0         |
|1         |
|0         |
|0         |
|0         |
|3         |
|0         |
|1         |
|1         |
|0         |
|0         |
|1         |
|0         |
|0         |
|4         |
|0         |
|1         |
|0         |
...
, Data Frame [891 x 1]

|Parch:Int |
|----------|
|0         |
|0         |
|0         |
|0         |
|0         |
|0         |
|0         |
|1         |
|2         |
|0         |
|1         |
|0         |
|0         |
|5         |
|0         |
|0         |
|1         |
|0         |
|0         |
|0         |
...
, Data Frame [891 x 1]

|Ticket:String    |
|-----------------|
|A/5 21171        |
|PC 17599         |
|STON/O2. 3101282 |
|113803           |
|373450           |
|330877           |
|17463            |
|349909           |
|347742           |
|237736           |
|PP 9549          |
|113783           |
|A/5. 2151        |
|347082           |
|350406           |
|248706           |
|382652           |
|244373           |
|345763           |
|2649             |
...
, Data Frame [891 x 1]

|Fare:Double |
|------------|
|7.250000    |
|71.283300   |
|7.925000    |
|53.100000   |
|8.050000    |
|8.458300    |
|51.862500   |
|21.075000   |
|11.133300   |
|30.070800   |
|16.700000   |
|26.550000   |
|8.050000    |
|31.275000   |
|7.854200    |
|16.000000   |
|29.125000   |
|13.000000   |
|18.000000   |
|7.225000    |
...
, Data Frame [891 x 1]

|Cabin:String? |
|--------------|
|null          |
|C85           |
|null          |
|C123          |
|null          |
|null          |
|E46           |
|null          |
|null          |
|null          |
|G6            |
|C103          |
|null          |
|null          |
|null          |
|null          |
|null          |
|null          |
|null          |
|null          |
...
, Data Frame [891 x 1]

|Embarked:String? |
|-----------------|
|S                |
|C                |
|S                |
|S                |
|S                |
|Q                |
|S                |
|S                |
|S                |
|C                |
|S                |
|S                |
|S                |
|S                |
|S                |
|S                |
|Q                |
|S                |
|S                |
|C                |
...
]

In [1]:
println("hello kotlin")

hello kotlin

In [2]:
class A

In [3]:
val a = A()

In [4]:
a

Line_40$A@71c27ee8

In [5]:
fun main() {
    println("Hello kotlin")
}

In [6]:
main()

Hello kotlin

In [7]:
object Hello {
    fun say() {
        println("Hello World")
    }
}

In [8]:
Hello.say()

Hello World

In [11]:
interface A {
    fun method() : String
}

interface B {
    fun method1() : String
    fun method2() : String
}

interface D {
    fun method() : String
    fun method1() : String
    fun method2() : String
}

class C : A, B, D {
    override fun method(): String {
        return "call A method"
    }
    override fun method1(): String {
        return "call B method1"
    }
    override fun method2(): String {
        return "call B method2"
    }

}

fun main() {
    val c:A = C()
    println(c.method())
    /* Kotlin: Unresolved reference: method1
    println(c.method1())
    */

    val cb : B = C()
    println(cb.method1())
    println(cb.method2())
    /* Kotlin: Unresolved reference: method
    println(cb.method())
     */

    val cd : D = C()
    println(cd.method())
    println(cd.method1())
    println(cd.method2())
}

In [12]:
main()

call A method
call B method1
call B method2
call A method
call B method1
call B method2